
<%= form_with(model: @recomendacion, local: true, html: { class: "form-horizontal", role: "form" }) do |form| %>  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <%= form.submit class: "btn btn-default bg-secondary text-white" %>
      <%= link_to 'Mostrar Datos', @recomendacion, class: 'btn btn-default' %>
    </div>
  </div>
  <div class="form-group">
    <%= hidden_field_tag 'form_pendiente_recomendacion_id', @recomendacion.id %>
    <h2>Datos paciente</h2>
      <%= form.fields :atributos_paciente do |paciente_form| %>
        <div class="form-group">
          <%= paciente_form.label :rut, class: "col-sm-2 control-label" %>
          <div class="col-sm-4">
            <%= paciente_form.autocomplete_field :paciente_rut, autocomplete_paciente_rut_recomendaciones_path,  :update_elements => {:nombres => '#recomendacion_atributos_paciente_nombres', :primer_apellido => '#recomendacion_atributos_paciente_primer_apellido', :segundo_apellido => '#recomendacion_atributos_paciente_segundo_apellido'}, class: "form-control", value:@rut_paciente, disabled: @recomendacion.cerrada? %>
          </div>
        </div>
        <div class="form-group">
          <%= paciente_form.label :nombres, class: "col-sm-2 control-label" %>
          <div class="col-sm-4">
            <%= paciente_form.text_field :nombres, class: "form-control", value:@nombres_paciente, disabled: @recomendacion.cerrada? %>
          </div>
        </div>
        <div class="form-group">
          <%= paciente_form.label :primer_apellido, class: "col-sm-2 control-label" %>
          <div class="col-sm-4">
            <%= paciente_form.text_field :primer_apellido, class: "form-control", value:@primer_apellido_paciente, disabled: @recomendacion.cerrada? %>
          </div>
        </div>
        <div class="form-group">
          <%= paciente_form.label :segundo_apellido, class: "col-sm-2 control-label" %>
          <div class="col-sm-4">
            <%= paciente_form.text_field :segundo_apellido, class: "form-control", value:@segundo_apellido_paciente, disabled: @recomendacion.cerrada? %>
          </div>
        </div>
       
        <div class="form-group">
          <% if @caso %>
            <div class="col-sm-4"> CASO : <%=@caso.codigo%></div>
          <%else%>
            <div class="col-sm-4" id='codigo_caso'></div>
          <%end%>
          <div class="col-sm-4">Tipo de Control : </div>
          <div class="col-sm-4">
          Semanal <%= radio_button_tag(:tipo_control, "2",(checked = true if @caso.nil? || @caso.tipo_control_id==2) , disabled: @recomendacion.cerrada?) %>   
          </div>
          <div class="col-sm-4">
          Mensual <%= radio_button_tag(:tipo_control, "3",(checked = true if @caso && @caso.tipo_control_id==3), disabled: @recomendacion.cerrada?) %>
          </div>
        </div>

        <div id="form_consentimiento" class="form-group">
          <% if @documento_caso && @documento_caso.consentimiento_informado.attached? %>
              <div class="col-sm-4">
                <%= link_to 'ARCHIVO CI', rails_blob_url(@documento_caso.consentimiento_informado, disposition: "attachment") %>
              </div>  
              <% if @documento_caso.fecha.nil? %>
                <%= paciente_form.label :fecha_consentimiento_informado,'Fecha CI', class: "col-sm-2 control-label" %>
                <div class="col-sm-4">
                  <%= paciente_form.text_field :fecha_consentimiento_informado, class: "datepicker" %>
                </div>
              <% end %>
          <% else %>
              <%= paciente_form.label :consentimiento_informado, class: "col-sm-4 control-label" %>
              <div class="col-sm-4">
                <%= paciente_form.file_field :consentimiento_informado, accept: 'application/pdf,image/png,image/gif,image/jpeg, image/tiff' %>
              </div>
              <%= paciente_form.label :fecha_consentimiento_informado,'Fecha CI', class: "col-sm-2 control-label" %>
              <div class="col-sm-4">
                <%= paciente_form.text_field :fecha_consentimiento_informado, class: "datepicker" %>
              </div>
          <%end%>
        </div>  
      <% end %>
  </div>

  <h2>Datos Examen</h2>
      <%= form.fields :atributos_examen do |examen_form| %>
        <div class="form-group">
          <%= examen_form.label :fecha_examen,'Fecha Hemograma', class: "col-sm-2 control-label" %>
          <div class="col-sm-4">
            <%= examen_form.text_field :fecha_examen, class: "datepicker", value: @fecha_examen ? @fecha_examen : ''%>
          </div>
        </div>
        <div class="form-group">
          <%= examen_form.label :examen, class: "col-sm-2 control-label" %>
          <div class="col-sm-4">
            <% if @documento_examen && @documento_examen.examen.attached? %>
              <%= examen_form.hidden_field :examen, value: @documento_examen.examen.signed_id %>
              <%= link_to 'ARCHIVO EXAMEN', rails_blob_url(@documento_examen.examen, disposition: "attachment") %>
            <%end%>
            <%= examen_form.file_field :examen, accept: 'application/pdf,image/png,image/gif,image/jpeg, image/tiff' %>
          </div>
        </div>  
        <div class="form-group">
          <%= examen_form.label :leucocitos, class: "col-sm-2 control-label" %>
          <div class="col-sm-3">
            <%= examen_form.number_field :leucocitos, class: "form-control", step: 0.1 , value:@leucocitos, disabled: @recomendacion.cerrada? %>
          </div>
        </div>
        <div class="form-group">
          <%= examen_form.label :segmentados, 'Segmentados %', class: "col-sm-2 control-label" %>
          <div class="col-sm-3">
            <%= examen_form.number_field :segmentados, class: "form-control", step: 0.01 , value:@segmentados, disabled: @recomendacion.cerrada? %>
          </div>
        </div>
        <div class="form-group">
          <%= examen_form.label :baciliformes, 'Baciliformes %', class: "col-sm-2 control-label" %>
          <div class="col-sm-3">
            <%= examen_form.number_field :baciliformes, class: "form-control", step: 0.01 , value:@baciliformes, disabled: @recomendacion.cerrada? %>
          </div>
        </div>
        <div class="form-group">
          <%= examen_form.label :ran, 'R.A.N',  class: "col-sm-2 control-label" %>
          <div class="col-sm-3">
            <%= examen_form.number_field :ran, class: "form-control", step: 0.1 , value:@ran, disabled: @recomendacion.cerrada? %>
          </div>
        </div>        
      <% end %>

  <h2>Datos Receta</h2>
    <%= form.fields :atributos_receta do |receta_form| %>
      <div class="form-group">
        <%= receta_form.label :fecha_receta,'Fecha Receta', class: "col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= receta_form.text_field :fecha_receta, class: "datepicker", value: @fecha_receta ? @fecha_receta : '' %>
        </div>
      </div>    
      <div class="form-group">
        <%= receta_form.label :receta, class: "col-sm-2 control-label" %>
        <div class="col-sm-4">
          <% if @documento_receta && @documento_receta.receta.attached? %>
              <%= receta_form.hidden_field :receta, value: @documento_receta.receta.signed_id %>
              <%= link_to 'ARCHIVO RECETA', rails_blob_url(@documento_receta.receta, disposition: "attachment") %>
          <% end %>  
            <%= receta_form.file_field :receta, accept: 'application/pdf,image/png,image/gif,image/jpeg, image/tiff' %>
        </div>
      </div> 
      <% end %>       
      <div class="form-group">
        <%= form.label :prestador, class: "col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= form.autocomplete_field :prestador_nombre, autocomplete_prestador_nombre_recomendaciones_path, class: "form-control", disabled: @recomendacion.cerrada? %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :farmacia, class: "col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= form.autocomplete_field :farmacia_nombre, autocomplete_farmacia_nombre_recomendaciones_path, class: "form-control", disabled: @recomendacion.cerrada? %>
        </div>
      </div> 
      <div class="form-group">
        <%= form.label :medico, 'Médico Solicitante (Nombre1 apellido1 apellido2)',class: "col-sm-6 control-label" %>
        <div class="col-sm-4">
          <%= form.text_field :medico_nombre, data: { autocomplete_source: Medico.select("concat(coalesce(nombres,''),' ', coalesce(primer_apellido,'')) as nombre_apellido, nombres").order(:nombres).map(&:nombre_apellido)}, class: "form-control", disabled: @recomendacion.cerrada? %>
        </div>
      </div>     
      

      <%= render 'tratamientos/list_edit' %>

      <%= form.fields :atributos_tratamiento do |tratamiento_form| %>  
      <div class="form-group">
        <div class="col-sm-2">
          <%= tratamiento_form.label :medicamento_programa_id, 'Presentación' %>
          <%= tratamiento_form.collection_select(:medicamento_programa_id, @presentaciones.order('nombre_comercial'), :id, :nombre_comercial, {include_blank: 'Seleccione una presentación'}) %>
        </div>
        <div class="col-sm-2">
          <%= tratamiento_form.label :dias, 'Duración (Días)' %>
          <%= tratamiento_form.number_field :dias, class: "form-control" , disabled: @recomendacion.cerrada? %>
        </div>
        <br>
        <h4>Esquema Posología</h4>
        
        <div class="col-sm-2">
        <%= tratamiento_form.collection_select(:esquema_horario_id, EsquemaHorario.order(:id), :id, :nombre, {include_blank: 'Seleccione un tipo de horario'}, :"data-selects-visibility" => ".col" )  %>
        </div>

        <% if !@recomendacion.cerrada? %>
        <div class="form-group w-75">
          <div class="form-row">
            <div class="col" data-show-for="1">
                <div class="col-sm-3">
                  <%= tratamiento_form.label :dia, 'Mañana' %>
                  <%= tratamiento_form.number_field :dia, class: "form-control", step: 0.01 %>
                </div>
                <div class="col-sm-3">
                  <%= tratamiento_form.label :tarde %>
                  <%= tratamiento_form.number_field :tarde, class: "form-control", step: 0.01 %>
                </div>
                <div class="col-sm-3">
                  <%= tratamiento_form.label :noche %>
                  <%= tratamiento_form.number_field :noche, class: "form-control", step: 0.01 %>
                </div>
            </div>
            <div class="col" data-show-for="2">
                <div class="col-sm-3">
                  <%= tratamiento_form.label :am %>
                  <%= tratamiento_form.number_field :am, class: "form-control", step: 0.01 %>
                </div>
                <div class="col-sm-3">
                  <%= tratamiento_form.label :pm %>
                  <%= tratamiento_form.number_field :pm, class: "form-control", step: 0.01 %>
                </div>
            </div>
            <div class="col" data-show-for="3">
                <div class="col-sm-3">
                  <%= tratamiento_form.label :dia_entero %>
                  <%= tratamiento_form.number_field :dia_entero, class: "form-control", step: 0.01 %>
                </div>
            </div>
          </div>
        </div>
        <%end%>
        <div class="col-sm-2">
          <%= tratamiento_form.label :cantidad, 'Total Comprimidos' %>
          <%= tratamiento_form.number_field :cantidad, class: "form-control", disabled: @recomendacion.cerrada?%>
          <input type="button" name="clickbtn" id="clickbtn" value="Calcula Comprimidos" >
        </div>
      </div>    
    <% end %>    
    <div class="form-group">
       <%= form.label :observaciones, class: "col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= form.text_area :observaciones, class: "form-control", disabled: @recomendacion.cerrada?%>
        </div>
    </div>
        <div class="form-group">
    <%= form.label :qf_soporte_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.collection_select(:qf_soporte_id, User.where(role: 2).order(:id), :id, :name) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <%= form.submit class: "btn btn-default bg-secondary text-white" %>
      <%= link_to 'Mostrar Datos', @recomendacion, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>

