<h2>Cierre Solicitud <%=@recomendacion.id_recomendacion%> Programa <%=@recomendacion.programa.nombre%></h2>
    <div class="col-sm-offset-2 col-sm-4">
      <%= link_to 'Volver a la Solicitud', @recomendacion, class: 'btn btn-default bg-secondary text-white' %>
    <br><br>
      <%= link_to  recomendacion_path(@recomendacion, :format => :pdf), class: 'btn btn-default bg-secondary text-white' do %>
      <span class="glyphicon glyphicon-plus"></span>
        PDF de Recomendación
      <% end %>
    </div>
    <br>
    <p>Escoja opcion de cierre : </p>
<%= form_with(url: cerrar_recomendacion_path(@recomendacion),  method: "patch", scope: @recomendacion, local: true, html: { class: "form-horizontal", role: "form" }) do |form| %>  
  <div class="form-group">
      <% if @recomendacion.aprobacion?  %>
        <div class="col-sm-offset-2 col-sm-4">
          <%= form.submit 'Aprobar', name: 'aprobacion', class: "btn btn-default bg-secondary text-white" %>
        </div>
      <% elsif @recomendacion.aprobacion_con_reparos?  %>  
        <div class="col-sm-offset-2 col-sm-4">
          <%= form.submit 'Aprobar con Reparos', name: 'aprobacion_con_reparos', class: "btn btn-default bg-secondary text-white" %>
        </div>
        <br>
        <div class="col-sm-offset-2 col-sm-4">
          <%= form.submit 'Rechazo Tecnico', name: 'rechazo_tecnico', class: "btn btn-default bg-secondary text-white" %>
        </div>
      <% elsif @recomendacion.rechazo_tecnico?  %>
        <div class="col-sm-offset-2 col-sm-4">
          <%= form.submit 'Rechazo Tecnico', name: 'rechazo_tecnico', class: "btn btn-default bg-secondary text-white" %>
        </div>
      <% end %>  
        <br>
        <div class="col-sm-offset-2 col-sm-4">
          <%= form.submit 'Rechazo Administrativo', name: 'rechazo_administrativo', class: "btn btn-default bg-secondary text-white" %>
        </div>
        <br>
      <%= form.label 'Comentarios Internos', class: "col-sm-4 control-label" %>
        <div class="col-sm-4">
        <%= form.text_area :comentarios, class: "form-control" %>
        </div>
  </div>
<% end %>
