<h2>Solicitudes de Recomendacion</h2>
<div class="filtros">
<h3>Filtros</h3>
<%= search_form_for @query do |f| %>
<div class="form-group w-50">
  <div class="form-row">
    <div class="col">
      <%= f.label :id_recomendacion %>
      <%= f.text_field :id_recomendacion_cont, class: 'form-control' %>
    </div>
    <div class="col">
      <%= f.label :estado %>
      <%= f.text_field :estado_cont, class: 'form-control' %>
    </div>
  </div>
</div>
<%= f.submit class: 'btn btn-default bg-secondary text-white' %>
<div class="d-inline bg-success">
  <%= link_to (t :button_clear), request.path, class: "btn btn-default bg-secondary text-white" %>
</div>
<% end %>
</div>
<%= will_paginate @recomendaciones, list_classes: %w(pagination justify-content-end) %>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
  <thead class='bg-secondary text-white' >
    <tr>
      <th><%= sort_link(@query, :id_recomendacion) %></th>
      <th><%= sort_link(@query, :programa_id, Recomendacion.human_attribute_name(:programa))%></th>
      <th><%= sort_link(@query, :paciente_id, Recomendacion.human_attribute_name(:paciente))%></th>
      <th><%= sort_link(@query, :medico_id, Recomendacion.human_attribute_name(:medico))%></th>
      <th><%= sort_link(@query, :prestador_id, Recomendacion.human_attribute_name(:prestador))%></th>
      <th><%= sort_link(@query, :farmacia_id, Recomendacion.human_attribute_name(:farmacia))%></th>    
      <th><%= sort_link(@query, :estado) %></th>
      <th><%= sort_link(@query, :resultado) %></th>
      <th><%= sort_link(@query, :con_alarma) %></th>
      <th><%= sort_link(@query, :qf_soporte_id, Recomendacion.human_attribute_name(:qf_soporte)) %></th>
      <th><%= sort_link(@query, :ejecutivo_id, Recomendacion.human_attribute_name(:ejecutivo)) %></th>
      <th><%= sort_link(@query, :fecha_hora_ingreso) %></th>
      <th><%= sort_link(@query, :via_ingreso) %></th>
      <th><%= sort_link(@query, :fecha_hora_respuesta) %></th>
      <th colspan="3"><%=(t :text_actions)%></th>
    </tr>
  </thead>

  <tbody>
    <% @recomendaciones.each do |recomendacion| %>
      <tr>
        <td><%= recomendacion.id_recomendacion %></td>
        <td><%= recomendacion.programa ? recomendacion.programa.nombre : '' %></td>
        <td><%= recomendacion.paciente ? recomendacion.paciente.nombres : '' %></td>
        <td><%= recomendacion.medico ? recomendacion.medico.nombres : '' %></td>
        <td><%= recomendacion.prestador ? recomendacion.prestador.nombre : '' %></td>
        <td><%= recomendacion.farmacia ? recomendacion.farmacia.nombre : '' %></td>
        <td><%= recomendacion.estado %></td>
        <td><%= recomendacion.resultado %></td>
        <td><%= recomendacion.con_alarma %></td>
        <td><%= recomendacion.qf_soporte ? recomendacion.qf_soporte.name : '' %></td>
        <td><%= recomendacion.ejecutivo ? recomendacion.ejecutivo.name : '' %></td>
        <td><%= recomendacion.fecha_hora_ingreso ? recomendacion.fecha_hora_ingreso.strftime("%Y %m %d") : '' %></td>
        <td><%= recomendacion.via_ingreso %></td>
        <td><%= recomendacion.fecha_hora_respuesta ? recomendacion.fecha_hora_respuesta.strftime("%Y %m %d") : '' %></td>
        <td><%= link_to (t :text_show), recomendacion %></td>
        <td><%= link_to (t :text_edit), edit_recomendacion_path(recomendacion) %></td>
        <td><%= link_to (t :text_destroy), recomendacion, method: :delete, data: { confirm: (t :text_are_you_sure) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= will_paginate @recomendaciones, list_classes: %w(pagination justify-content-end) %>

