<div class="page-header">
  <%= link_to recomendaciones_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_recomendacion_path(@recomendacion), class: 'btn btn-default bg-secondary text-white' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Editar
  <% end %>
  <h1>Recomendacion <%=@recomendacion.id_recomendacion%> Programa <%= @recomendacion.programa.nombre %> </h1>
</div>

<dl class="dl-horizontal">

  <h3>Estado: <%= @recomendacion.estado.upcase %></h3>

  <% if !@recomendacion.pendiente? %>
  <h3>Resultado: <%= @recomendacion.resultado.upcase %></h3>
  <% end %>
  <h3><%= @alarma ? @alarma.nombre : 'SIN ALARMA' %></h3>

  <h3>Paciente: <%= @datos_paciente %></h3>

  <h4>Ingreso Via: <%= @recomendacion.via_ingreso %> Hora: <%= @recomendacion.fecha_hora_ingreso.strftime("%H:%M de %m/%d/%Y") %></h4>
  
  <%= link_to  recomendacion_path(@recomendacion, :format => :pdf), class: 'btn btn-default bg-secondary text-white' do %>
    <span class="glyphicon glyphicon-plus"></span>
    PDF de Recomendación
  <% end %>


  <h3>Datos Receta</h3><dt>Medico: <%= @datos_medico %> </dt>

  <dt>Fecha Receta: <%= @fecha_receta%> Vencimiento : <%= @fecha_vencimiento_receta%> </dt>

  <dt>Medico: <%= @datos_medico %> </dt>

  <dt>Prestador: <%= @datos_prestador %> </dt>

  <dt>Farmacia: <%= @datos_farmacia %> </dt>

  <h4>Tratamiento</h4>

  <dt>Presentacion : <%= @presentacion %> </dt>

  <dt>Duracion: <%= @dias %> Dias</dt>

  <dt>Comprimidos: <%= @cantidad %></dt>

  <h4>Esquema</h4>

  <dt>Dia: <%= @dia %> Tarde: <%= @tarde %> Noche <%= @noche %></dt>

  <h3>Datos Examen</h3>

  <dt>Fecha Hemograma: <%= @fecha_examen %> Vencimiento : <%= @fecha_vencimiento_examen %> </dt>

  <dt>RAN: <%= @ran %> mm3</dt>

  <dt>Leucocitos: <%= @leucocitos %> mm3</dt>

  <dt>Baciliformes: <%= @baciliformes %> %</dt>

  <dt>Segmentados: <%= @segmentados %> %</dt>  

  <br>

  <dt>Autoriza : <%= @qf_soporte %> </dt>

  <dt>Ejecutivo a cargo : <%= @ejecutivo %></dt>

  <dt>Fecha hora respuesta:</dt>
  <dd><%= @recomendacion.fecha_hora_respuesta %></dd>

  <dt>Observaciones:</dt>
  <dd><%= @recomendacion.observaciones %></dd>

</dl>
