
<div style=" margin-left: 550px; "><%= (localize(Date.today, :format => "%A, %e de %B de %Y")).capitalize %></div>
<br><br>
<h3 align="center">RECOMENDACIÓN LODUX <%= @titulo %> <%= @iniciales_paciente %> <%=@recomendacion.id_recomendacion%> </h3>

Estimado (a) <br>
Químico Farmacéutico <br>

<p>Gracias por contactar al soporte de farmacovigilancia. A continuación se presenta un resumen de los datos utilizados para autorizar o no el despacho del medicamento Lodux®.</p>

<h3>Nombre Paciente: <%= @datos_paciente %><br>
Rut : <%= @rut_paciente %></h3>

<h3>Hemograma (status) : <%= @alarma ? @alarma.nombre : 'Sin Alarma' %> </h3> 
<dl class="dl-horizontal">
	<dt><b>R.A.N: <%= @ran %> mm3</b> </dt>
	<dt><b>Fecha Hemograma : <%= @fecha_examen%> </b> </dt>
	<dt><b>Fecha Receta : <%= @fecha_receta %> </b> </dt>
	<dt><b>Prestador : <%= @datos_prestador %> </b> </dt>
	<dt><b>Farmacia : <%= @datos_farmacia %> </b> </dt>
	<dt><b>Médico solicitante : <%= @datos_medico %> </b> </dt>
<dl>
<%if @accion=='APROBAR'%>	
	<h4 style="text-decoration: underline;">Posología: </h4>
	<dt><b>1. <%= @presentacion %> &nbsp;&nbsp; <%= @dia_fraccional %> &nbsp;-&nbsp; <%= @tarde_fraccional %> &nbsp;-&nbsp; <%= @noche_fraccional %></b> &nbsp;&nbsp; por <%= @dias %> días (<%= @cantidad %> comprimidos) </dt><br><br>
<%end%>
Luego de analizar la información antes presentada, se ha determinado <%= @accion%> la solicitud del <%=@recomendacion.fecha_hora_ingreso.strftime("%d/%m/%Y")%>. Este documento es válido hasta el <%=@fecha_vencimiento_examen%> inclusive. <br><br>
Por lo tanto, <% @accion=='RECHAZAR' ? 'NO ': ''%>se autoriza el despacho del medicamento Lodux®.<br><br>

Motivo del rechazo: No aplica.<br><br>

<p style="text-align:justify;"><%= @alarma ? @alarma.accion : "Siga cuidadosamente las indicaciones de su médico. Paciente tomará #{@dosis_diaria} 
comprimidos diarios de #{@dosis_medicamento} #{@un_medicamento}. (#{@dosis_medicamento*@dosis_diaria} #{@un_medicamento}  por día)." %></p>

<br><br><br><br>
<div style="display: inline;"><%= wicked_pdf_image_tag('logo_pharma_care.png' ,:width => "200",  :height=>"85" ) %></div>
<div style="width: 70%; float: right;">Saludos cordiales, <br>
QF. Fernando Sáez | Soporte Farmacovigilancia | Pharmaceutical Care®<br>
+569 33752459 |
farmacovigilancia@pharmacare.cl<br>
Santiago de Chile
</div>