<div class="page-header">
  <%= link_to 'Volver', recomendaciones_path, class: 'btn btn-default' %>
  <%= link_to 'Editar', edit_recomendacion_path(@recomendacion), class: 'btn btn-default bg-secondary text-white' %>
  <h1>Recomendacion <%=@recomendacion.id_recomendacion%> Programa <%= @recomendacion.programa.nombre %> </h1>
</div>

<dl class="dl-horizontal">

  <h3>Estado: <%= @recomendacion.estado.upcase %> </h3>
  <h3>Resultado: <%= @recomendacion.resultado.upcase %> &nbsp;<%= !@recomendacion.cerrada? ? (link_to 'Cerrar Solicitud' , edit_cierre_path(@recomendacion), class: 'btn btn-default bg-secondary text-white') : ''%></h3>
  <% if @alarma %>
    <h3 style="color:<%=@alarma.color%>;"> <%=@alarma.nombre.upcase %></h3>
  <%else%>
    <h3>SIN ALARMA</h3>
  <%end%>

  <h3>Paciente: <%= @datos_paciente %></h3>
  <div id="show" class="btn btn-default bg-secondary text-white">Ver historial</div>
    <div class="menu" style="display: none;">
     <%= render 'list_historial' %>
    </div>
  <h4>Ingreso Via: <%= @recomendacion.via_ingreso %> Hora: <%= @recomendacion.fecha_hora_ingreso.strftime("%H:%M de %m/%d/%Y") %></h4>
  
  <%= link_to  recomendacion_path(@recomendacion, :format => :pdf), class: 'btn btn-default bg-secondary text-white' do %>
    <span class="glyphicon glyphicon-plus"></span>
    PDF de Recomendación
  <% end %>

<div class="form-group w-100">
  <div class="form-row">
    <div class="col">
    <h3>Datos Examen</h3>
      <dt><%= link_to 'ARCHIVO EXAMEN', rails_blob_url(@documento_examen.examen, disposition: "attachment") if @documento_examen && @documento_examen.examen.attached? %> </dt>
      <dt>Fecha Hemograma: <%= @fecha_examen %>
       <%if @documento_examen && @documento_examen.vencida? %>
       <div class="vencida"> Vencimiento : <%= @fecha_vencimiento_receta %> </div>
       <%else%>
          Vencimiento : <%= @fecha_vencimiento_examen %> 
       <%end%>
     </dt>
      <dt>RAN: <%= @ran %> mm3</dt>
      <dt>Leucocitos: <%= @leucocitos %> mm3</dt>
      <dt>Baciliformes: <%= @baciliformes %> %</dt>
      <dt>Segmentados: <%= @segmentados %> %</dt>  
    </div>
    <div class="col">
      <h3>Datos Receta</h3>
      <dt><%= link_to 'ARCHIVO RECETA', rails_blob_url(@documento_receta.receta, disposition: "attachment") if @documento_receta && @documento_receta.receta.attached? %> </dt>
      <dt>Fecha Receta: <%= @fecha_receta%> 
        <%if @documento_examen && @documento_receta.vencida? %>
         <div class="vencida"> Vencimiento : <%= @fecha_vencimiento_receta %> </div>
       <%else%>
          Vencimiento : <%= @fecha_vencimiento_receta %> 
       <%end%>

      </dt>
      <dt>Medico: <%= @datos_medico %> </dt>
      <dt>Prestador: <%= @datos_prestador %> </dt>
      <dt>Farmacia: <%= @datos_farmacia %> </dt>
    </div>
  </div>
</div>  

  <%= render 'tratamientos/list_show' %>

  <dt>Observaciones:</dt>
  <dd><%= @recomendacion.observaciones %></dd>

  <dt>Ejecutivo a cargo : <%= @ejecutivo %></dt>

  <%if @recomendacion.cerrada? %>
    <dt>Fecha hora respuesta:</dt>
    <dd><%= @recomendacion.fecha_hora_respuesta %></dd>

    <dt>Autoriza : <%= @qf_soporte %> </dt>
  <% end %> 

</dl>
