
<div style=" margin-left: 550px; "><%= (localize(Date.today, :format => "%A, %e de %B de %Y")).capitalize %></div>
<br><br>
<h3 align="center">RECOMENDACIÓN LODUX <%= @titulo %> <%= @iniciales_paciente %> <%=@recomendacion.id_recomendacion%> </h3>

Estimado (a) <br>
Químico Farmacéutico <br>

<p>Gracias por contactar al soporte de farmacovigilancia. A continuación se presenta un resumen de los datos utilizados para autorizar o no el despacho del medicamento Lodux®.</p>

<h3>Nombre Paciente: <%= @datos_paciente %><br>
Rut : <%= @rut_paciente %></h3>

<h3>Hemograma (status) :  <%= @alarma ? @alarma.nombre : 'Sin Alarma' %> </h3> 
<dl class="dl-horizontal">
	<dt><b>R.A.N: <%= @ran %> mm3</b> </dt>
	<dt><b>Fecha Hemograma : <%= @fecha_examen%> </b> </dt>
	<dt><b>Fecha Receta : <%= @fecha_receta %> </b> </dt>
	<dt><b>Prestador : <%= @datos_prestador %> </b> </dt>
	<dt><b>Farmacia : <%= @datos_farmacia %> </b> </dt>
	<dt><b>Médico solicitante : <%= @datos_medico %> </b> </dt>
<dl>
<%if @accion=='APROBAR'%>	
	<h4 style="text-decoration: underline;">Posología: </h4>
    <% tratamiento_completo = '' 
       count = 0
       total_dias_tratamiento = 0
    %>

	<% @tratamientos.each do |tratamiento| %>
	  <% 
	    medicamento_programa = tratamiento.medicamento_programa 
       	presentacion = medicamento_programa.nombre_comercial
    	dias = tratamiento.dias
    	cantidad = tratamiento.cantidad
    	esquema, esquema_fraccional, texto_tratamiento = tratamiento.posologias
    	tratamiento_completo = "#{tratamiento_completo} #{texto_tratamiento}"
    	count += 1
    	total_dias_tratamiento += dias
	   %>
	   <dt><b><%=count%>. &nbsp;&nbsp;<%= esquema_fraccional %></b> &nbsp;&nbsp; por <%= dias %> días (<%= cantidad %> comprimidos de <%= presentacion %>) </dt>
	<%end%>
<%end%>	
<br><br>
Luego de analizar la información antes presentada, se ha determinado <%= @accion%> la solicitud del <%=@recomendacion.fecha_hora_ingreso.strftime("%d/%m/%Y")%>. Este documento es válido hasta el <%=@fecha_vencimiento_examen%> inclusive. <br><br>
Por lo tanto, <%= @accion=='RECHAZAR' ? 'NO ' : ''%>se autoriza el despacho del medicamento Lodux®.<br><br>
<% if @recomendacion.observaciones != ''%>
  Observaciones: <%=@recomendacion.observaciones%>.<br><br>
<% end %>

<p style="text-align:justify;"><%= @recomendacion.con_alarma ? @alarma.accion : "Siga cuidadosamente las indicaciones de su médico. #{tratamiento_completo} Total días de tratamiento : #{total_dias_tratamiento}  días." %></p>

<div style="position: relative; top:200px;">
	Saludos cordiales, <br><br>
	<div style="display: inline;"><%= wicked_pdf_image_tag('logo_pharma_carta.png') %></div>
	<div style="width: 80%; float: right;">
	<%= @autorizador %>  | Soporte Farmacovigilancia | Pharmaceutical Care®<br>
	<%= wicked_pdf_image_tag('wazap_logo.png') %> +569 33752459 |<%= wicked_pdf_image_tag('email_logo.png') %>
	<font style='text-decoration: underline; color: blue;'>farmacovigilancia@pharmacare.cl</font><br>
	Santiago de Chile
	</div>
</div>