
<h2><%=(t :text_show) %> paciente</h2>

<dl class="dl-horizontal">
  <dt>Nombres:</dt>
  <dd><%= @paciente.nombres %></dd>

  <dt>Primer apellido:</dt>
  <dd><%= @paciente.primer_apellido %></dd>

  <dt>Segundo apellido:</dt>
  <dd><%= @paciente.segundo_apellido %></dd>

  <dt>Rut:</dt>
  <dd><%= @paciente.rut %></dd>

  <dt>Genero:</dt>
  <dd><%= @paciente.genero %></dd>

  <dt>Fecha nacimiento:</dt>
  <dd><%= @paciente.fecha_nacimiento %></dd>

  <dt>Fono1:</dt>
  <dd><%= @paciente.fono1 %></dd>

  <dt>Fono2:</dt>
  <dd><%= @paciente.fono2 %></dd>

  <dt>Email:</dt>
  <dd><%= @paciente.email %></dd>

  <dt>Direccion:</dt>
  <dd><%= @paciente.direccion %></dd>

  <dt>Comuna:</dt>
  <dd><%= @paciente.comuna.nombre %></dd>

</dl>

<%= link_to (t :text_edit), edit_paciente_path(@paciente) %> |
<%= link_to (t :text_back), pacientes_path %>
