<h2>Reporte Medicos</h2>

<dl class="dl-horizontal">
  <dt>Cliente : Synthon </dt>
  <dt>Servicio : Acompañamiento pacientes y farmacovigilancia. </dt>
  <dt>Reporte : Medicos programa Lodux </dt>
  <dt>Intervalo de reporte : Desde el <%=@fecha_desde%> al <%=@fecha_hasta%>. </dt>
<dl>           

  <div class="table-responsive">
    <table class="table table-stri ped table-bordered table-hover">
    <thead class='bg-secondary text-white' >
      <tr>
        <th>Nº rec.</th>
        <th>Fecha rec.</th>
        <th>Código</th>
        <th>Nombre del Medico</th>
        <th>Prestador</th> 
      </tr>
    </thead>

    <tbody>
      <% @informe.each do |data| %>
        <tr>
        <td><%= data[0] %></td>
        <td><%= data[1] %></td>
        <td><%= data[2] %></td>
        <td><%= data[3] %></td>
        <td><%= data[4] %></td> 
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
