<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
    <h3>Olvido su password?</h3>
    <p>Le mandaremos instrucciones para resetear la password.</p>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
     <%= f.submit 'Resetear Password', :class => 'button right bg-secondary text-white' %>
  <% end %>
</div>
