<p id="notice"><%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @medico.nombres %>
</p>

<p>
  <strong>Primer apellido:</strong>
  <%= @medico.primer_apellido %>
</p>

<p>
  <strong>Segundo apellido:</strong>
  <%= @medico.segundo_apellido %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @medico.rut %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @medico.genero %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @medico.fecha_nacimiento %>
</p>

<p>
  <strong>Fono1:</strong>
  <%= @medico.fono1 %>
</p>

<p>
  <strong>Fono2:</strong>
  <%= @medico.fono2 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @medico.email %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @medico.direccion %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @medico.comuna.nombre %>
</p>

<%= link_to (t :edit), edit_medico_path(@medico) %> |
<%= link_to (t :back), medicos_path %>
