
<h2><%=(t :text_show) %> medico</h2>

<dl class="dl-horizontal">
  <dt>Nombres:</dt>
  <dd><%= @medico.nombres %></dd>

  <dt>Primer apellido:</dt>
  <dd><%= @medico.primer_apellido %></dd>

  <dt>Segundo apellido:</dt>
  <dd><%= @medico.segundo_apellido %></dd>

  <dt>Rut:</dt>
  <dd><%= @medico.rut %></dd>

  <dt>Genero:</dt>
  <dd><%= @medico.genero %></dd>

  <dt>Fecha nacimiento:</dt>
  <dd><%= @medico.fecha_nacimiento %></dd>

  <dt>Fono1:</dt>
  <dd><%= @medico.fono1 %></dd>

  <dt>Fono2:</dt>
  <dd><%= @medico.fono2 %></dd>

  <dt>Email:</dt>
  <dd><%= @medico.email %></dd>

  <dt>Direccion:</dt>
  <dd><%= @medico.direccion %></dd>

  <dt>Comuna:</dt>
  <dd><%= @medico.comuna.nombre %></dd>

</dl>

<%= link_to (t :text_edit), edit_medico_path(@medico) %> |
<%= link_to (t :text_back), medicos_path %>
